.desktop-only {
  display: block;
}

@media (max-width: 500px) {
  .desktop-only {
    display: none !important;
  }
  h1 {
    text-align: center;
    padding: 1rem;
  }
  .navbar{
    height: 15%;
  }
  .chatHistory{
    height: 70%;
    max-height: 70%;
    overflow-y: scroll
  }
  .inputContainer{
    height: 15%;
    overflow: hidden
  }
  .content {
    height: 100% !important;
    max-height: 100% !important;
    overflow: hidden !important;
  }
}